In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df_pokemon = pd.read_excel("pokemon.xlsx")
df_pokemon.head(3)

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
0,1,I,Bulbasaur,Fushigidane,grass,poison,Seed Pokémon,88.14,11.86,0.7,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,There is a plant seed on its back right from t...
1,2,I,Ivysaur,Fushigisou,grass,poison,Seed Pokémon,88.14,11.86,1.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,"When the bulb on its back grows large, it appe..."
2,3,I,Venusaur,Fushigibana,grass,poison,Seed Pokémon,88.14,11.86,2.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,Gigantamax Venusaur,Mega Venusaur,NaN,Its plant blooms when it is absorbing solar en...

In [8]:
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 898 entries, 0 to 897
Data columns (total 55 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   national_number     898 non-null    int64
 1   gen                 898 non-null    object
 2   english_name        898 non-null    object
 3   japanese_name       898 non-null    object
 4   primary_type        898 non-null    object
 5   secondary_type      469 non-null    object
 6   classification      898 non-null    object
 7   percent_male        776 non-null    object
 8   percent_female      776 non-null    object
 9   height_m            898 non-null    float64
 10  weight_kg           898 non-null    float64
 11  capture_rate        898 non-null    object
 12  base_egg_steps      898 non-null    int64
 13  hp                  898 non-null    int64
 14  attack              898 non-null    int64
 15  defense             898 non-null    int64
 16  sp_attack           898 non-null    int64
 17  sp_defense          898 non-null    int64
 18  speed               898 non-null    int64
 19  abilities_0         898 non-null    object
 20  abilities_1         495 non-null    object
 21  abilities_2         3 non-null      object
 22  abilities_hidden    763 non-null    object
 23  against_normal      898 non-null    float64
 24  against_fire        898 non-null    float64
 25  against_water       898 non-null    float64
 26  against_electric    898 non-null    float64
 27  against_grass       898 non-null    float64
 28  against_ice         898 non-null    float64
 29  against_fighting    898 non-null    float64
 30  against_poison      898 non-null    float64
 31  against_ground      898 non-null    float64
 32  against_flying      898 non-null    float64
 33  against_psychic     898 non-null    float64
 34  against_bug         898 non-null    float64
 35  against_rock        898 non-null    float64
 36  against_ghost       898 non-null    float64
 37  against_dragon      898 non-null    float64
 38  against_dark        898 non-null    float64
 39  against_steel       898 non-null    float64
 40  against_fairy       898 non-null    float64
 41  is_sublegendary     898 non-null    int64
 42  is_legendary        898 non-null    int64
 43  is_mythical         898 non-null    int64
 44  evochain_0          898 non-null    object
 45  evochain_1          728 non-null    object
 46  evochain_2          728 non-null    object
 47  evochain_3          335 non-null    object
 48  evochain_4          332 non-null    object
 49  evochain_5          19 non-null     object
 50  evochain_6          19 non-null     object
 51  gigantamax          31 non-null     object
 52  mega_evolution      46 non-null     object
 53  mega_evolution_alt  2 non-null      object
 54  description         898 non-null    object
dtypes: float64(20), int64(11), object(24)
memory usage: 386.0+ KB

## Área de Estudo: Pokémon Grama 
### Pegando os pokémons com a tipagem Grama

In [29]:
primary_type_pokemons_grama = df_pokemon[df_pokemon["primary_type"]=="grass"]
display(primary_type_pokemons_grama)

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
0,1,I,Bulbasaur,Fushigidane,grass,poison,Seed Pokémon,88.14,11.86,0.7,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,There is a plant seed on its back right from t...
1,2,I,Ivysaur,Fushigisou,grass,poison,Seed Pokémon,88.14,11.86,1.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,NaN,NaN,NaN,"When the bulb on its back grows large, it appe..."
2,3,I,Venusaur,Fushigibana,grass,poison,Seed Pokémon,88.14,11.86,2.0,...,Level,Ivysaur,Level,Venusaur,NaN,NaN,Gigantamax Venusaur,Mega Venusaur,NaN,Its plant blooms when it is absorbing solar en...
42,43,I,Oddish,Nazonokusa,grass,poison,Weed Pokémon,50.2,49.8,0.5,...,Level,Gloom,Use Leaf Stone,Vileplume,Use Sun Stone,Bellossom,NaN,NaN,NaN,"If exposed to moonlight, it starts to move. It..."
43,44,I,Gloom,Kusaihana,grass,poison,Weed Pokémon,50.2,49.8,0.8,...,Level,Gloom,Use Leaf Stone,Vileplume,Use Sun Stone,Bellossom,NaN,NaN,NaN,Its pistils exude an incredibly foul odor. The...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828,829,VIII,Gossifleur,Himenka,grass,NaN,Flowering Pokémon,50.2,49.8,0.4,...,Level,Eldegoss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,It anchors itself in the ground with its singl...
829,830,VIII,Eldegoss,Watashiraga,grass,NaN,Cotton Bloom Pokémon,50.2,49.8,0.5,...,Level,Eldegoss,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The seeds attached to its cotton fluff are ful...
839,840,VIII,Applin,Kajitchu,grass,dragon,Apple Core Pokémon,50.2,49.8,0.2,...,Use Tart Apple,Flapple,Use Sweet Apple,Appletun,NaN,NaN,NaN,NaN,NaN,It spends its entire life inside an apple. It ...
840,841,VIII,Flapple,Appryu,grass,dragon,Apple Wing Pokémon,50.2,49.8,0.3,...,Use Tart Apple,Flapple,Use Sweet Apple,Appletun,NaN,NaN,Gigantamax Flapple,NaN,NaN,"It ate a sour apple, and that induced its evol..."
841,842,VIII,Appletun,Tarupple,grass,dragon,Apple Nectar Pokémon,50.2,49.8,0.4,...,Use Tart Apple,Flapple,Use Sweet Apple,Appletun,NaN,NaN,NaN,NaN,NaN,Eating a sweet apple caused its evolution. A n...

## Pegando os Pokémon com o Segundo Tipo = "Grama"

In [35]:
secondary_type_pokemons_grama = df_pokemon[df_pokemon["secondary_type"]=="grass"]
display(secondary_type_pokemons_grama)

,national_number,gen,english_name,japanese_name,primary_type,secondary_type,classification,percent_male,percent_female,height_m,...,evochain_1,evochain_2,evochain_3,evochain_4,evochain_5,evochain_6,gigantamax,mega_evolution,mega_evolution_alt,description
45,46,I,Paras,Paras,bug,grass,Mushroom Pokémon,50,50,0.3,...,Level,Parasect,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Burrows under the ground to gnaw on tree roots...
46,47,I,Parasect,Parasect,bug,grass,Mushroom Pokémon,50,50,1.0,...,Level,Parasect,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The bug host is drained of energy by the mushr...
250,251,II,Celebi,Celebi,psychic,grass,Time Travel Pokémon,NaN,NaN,0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,This Pokémon came from the future by crossing ...
269,270,III,Lotad,Hassboh,water,grass,Water Weed Pokémon,50.2,49.8,0.5,...,Level,Lombre,Use Water Stone,Ludicolo,NaN,NaN,NaN,NaN,NaN,It searches about for clean water. If it does ...
270,271,III,Lombre,Hasubrero,water,grass,Jolly Pokémon,50.2,49.8,1.2,...,Level,Lombre,Use Water Stone,Ludicolo,NaN,NaN,NaN,NaN,NaN,It is nocturnal and becomes active at nightfal...
271,272,III,Ludicolo,Runpappa,water,grass,Carefree Pokémon,50.2,49.8,1.5,...,Level,Lombre,Use Water Stone,Ludicolo,NaN,NaN,NaN,NaN,NaN,"The rhythm of bright, festive music activates ..."
344,345,III,Lileep,Lilyla,rock,grass,Sea Lily Pokémon,88.14,11.86,1.0,...,Level,Cradily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,This Pokémon was restored from a fossil. Lilee...
345,346,III,Cradily,Yuradle,rock,grass,Barnacle Pokémon,88.14,11.86,1.5,...,Level,Cradily,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"It has short legs and can’t walk very fast, bu..."
412,413,IV,Wormadam,Minomadam,bug,grass,Bagworm Pokémon,0,100,0.5,...,Female at Level,Wormadam,Male at Level,Mothim,NaN,NaN,NaN,NaN,NaN,Its appearance changes depending on where it e...
491,492,IV,Shaymin,Shaymin,grass,grass,Gratitude Pokémon,NaN,NaN,0.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,It can dissolve toxins in the air to instantly...
539,540,V,Sewaddle,Kurumiru,bug,grass,Sewing Pokémon,50,50,0.3,...,Level,Swadloon,Level Up with Happiness Value at 220,Leavanny,NaN,NaN,NaN,NaN,NaN,This Pokémon makes clothes for itself. It chew...
540,541,V,Swadloon,Kurumayu,bug,grass,Leaf-Wrapped Pokémon,50,50,0.5,...,Level,Swadloon,Level Up with Happiness Value at 220,Leavanny,NaN,NaN,NaN,NaN,NaN,Forests where Swadloon live have superb foliag...
541,542,V,Leavanny,Hahakomori,bug,grass,Nurturing Pokémon,50,50,1.2,...,Level,Swadloon,Level Up with Happiness Value at 220,Leavanny,NaN,NaN,NaN,NaN,NaN,"Upon finding a small Pokémon, it weaves clothi..."
584,585,V,Deerling,Shikijika,normal,grass,Season Pokémon,50,50,0.6,...,Level,Sawsbuck,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Their coloring changes according to the season...
585,586,V,Sawsbuck,Mebukijika,normal,grass,Season Pokémon,50,50,1.9,...,Level,Sawsbuck,NaN,NaN,NaN,NaN,NaN,NaN,NaN,They migrate according to the seasons. People ...
707,708,VI,Phantump,Bokurei,ghost,grass,Stump Pokémon,50.2,49.8,0.4,...,Trade,Trevenant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"After a lost child perished in the forest, the..."
708,709,VI,Trevenant,Ohrot,ghost,grass,Elder Tree Pokémon,50.2,49.8,1.5,...,Trade,Trevenant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,People fear it due to a belief that it devours...
709,710,VI,Pumpkaboo,Bakeccha,ghost,grass,Pumpkin Pokémon,50.2,49.8,0.4,...,Trade,Gourgeist,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Spirits that wander this world are placed into...
710,711,VI,Gourgeist,Pumpjin,ghost,grass,Pumpkin Pokémon,50.2,49.8,0.9,...,Trade,Gourgeist,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Eerie cries emanate from its body in the dead ...
780,781,VII,Dhelmise,Dadarin,ghost,grass,Sea Creeper Pokémon,NaN,NaN,3.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,After a piece of seaweed merged with debris fr...
892,893,VIII,Zarude,Zarude,dark,grass,Rogue Monkey Pokémon,NaN,NaN,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Within dense forests, this Pokémon lives in a ..."
897,898,VIII,Calyrex,Badrex,psychic,grass,King Pokémon,NaN,NaN,1.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Calyrex is a merciful Pokémon, capable of prov..."

### Total De Pokémons de Grama

In [81]:
primary_type_linhas,primary_type_colunas = primary_type_pokemons_grama.shape
secondary_type_linhas,secondary_type_colunas = secondary_type_pokemons_grama.shape
print(f"Existem um total de {primary_type_linhas} Pokémons do tipo Grama com a Primeira Tipagem Grama")
print(f"Existem um total de {secondary_type_linhas} Pokémons do tipo Grama com a Segunda Tipagem Grama")
print(f"Existe um total de {primary_type_linhas+secondary_type_linhas} Pokémons do tipo Grama(Tanto no primeiro tipo, quando no segundo tipo)")

Existem um total de 86 Pokémons do tipo Grama com a Primeira Tipagem Grama
Existem um total de 22 Pokémons do tipo Grama com a Segunda Tipagem Grama
Existe um total de 108 Pokémons do tipo Grama(Tanto no primeiro tipo, quando no segundo tipo)

### Melhores Pokémons do tipo Grama da Primeira e Segunda tipagem em relação ao Attack

In [53]:
best_ataque_pokemons_grama = primary_type_pokemons_grama[primary_type_pokemons_grama['attack'] > 10]
best_ataque_pokemons_grama[["english_name","primary_type","attack"]]

    english_name primary_type  attack
0      Bulbasaur        grass      49
1        Ivysaur        grass      62
2       Venusaur        grass      82
42        Oddish        grass      50
43         Gloom        grass      65
..           ...          ...     ...
828   Gossifleur        grass      40
829     Eldegoss        grass      50
839       Applin        grass      40
840      Flapple        grass     110
841     Appletun        grass      85

[86 rows x 3 columns]

In [54]:
best_ataque_pokemons_grama = primary_type_pokemons_grama[primary_type_pokemons_grama['attack'] >= 0]
best_ataque_pokemons_grama_sorted = best_ataque_pokemons_grama.sort_values(by='attack', ascending=True)
display(best_ataque_pokemons_grama_sorted[["english_name", "primary_type", "attack"]])

    english_name primary_type  attack
545     Cottonee        grass      27
190      Sunkern        grass      30
405        Budew        grass      30
760    Bounsweet        grass      30
547      Petilil        grass      35
..           ...          ...     ...
762     Tsareena        grass     120
811    Rillaboom        grass     125
285      Breloom        grass     130
786    Tapu Bulu        grass     130
797      Kartana        grass     181

[86 rows x 3 columns]

In [79]:
best_ataque_pokemons_grama = secondary_type_pokemons_grama[secondary_type_pokemons_grama['attack'] >= 0]
best_ataque_pokemons_grama_sorted = best_ataque_pokemons_grama.sort_values(by='attack', ascending=False)
display(best_ataque_pokemons_grama_sorted[["english_name", "secondary_type","attack"]])

    english_name secondary_type  attack
780     Dhelmise          grass     131
892       Zarude          grass     120
708    Trevenant          grass     110
541     Leavanny          grass     103
250       Celebi          grass     100
491      Shaymin          grass     100
585     Sawsbuck          grass     100
46      Parasect          grass      95
710    Gourgeist          grass      90
345      Cradily          grass      81
897      Calyrex          grass      80
707     Phantump          grass      70
45         Paras          grass      70
271     Ludicolo          grass      70
709    Pumpkaboo          grass      66
540     Swadloon          grass      63
584     Deerling          grass      60
412     Wormadam          grass      59
539     Sewaddle          grass      53
270       Lombre          grass      50
344       Lileep          grass      41
269        Lotad          grass      30

### Melhores Pokémons do tipo Grama da Primeira e Segunda tipagem em relação a Defense

In [73]:
best_defesa_pokemons_grama = primary_type_pokemons_grama[primary_type_pokemons_grama['defense'] >= 0]
best_defesa_pokemons_grama_sorted = best_defesa_pokemons_grama.sort_values(by='defense', ascending=True)
display(best_defesa_pokemons_grama_sorted[["english_name", "secondary_type", "defense"]])

    english_name secondary_type  defense
190      Sunkern            NaN       30
752     Fomantis            NaN       35
405        Budew         poison       35
68    Bellsprout         poison       35
251      Treecko            NaN       35
..           ...            ...      ...
651   Chesnaught       fighting      122
464    Tangrowth            NaN      125
469      Leafeon            NaN      130
797      Kartana          steel      131
597   Ferrothorn          steel      131

[86 rows x 3 columns]

In [70]:
best_defesa_pokemons_grama = secondary_type_pokemons_grama[secondary_type_pokemons_grama['defense'] >= 0]
best_defesa_pokemons_grama_sorted = best_defesa_pokemons_grama.sort_values(by='defense', ascending=False)
display(best_defesa_pokemons_grama_sorted[["english_name", "secondary_type", "defense"]])

    english_name secondary_type  defense
710    Gourgeist          grass      122
892       Zarude          grass      105
250       Celebi          grass      100
780     Dhelmise          grass      100
491      Shaymin          grass      100
345      Cradily          grass       97
540     Swadloon          grass       90
412     Wormadam          grass       85
46      Parasect          grass       80
541     Leavanny          grass       80
897      Calyrex          grass       80
344       Lileep          grass       77
708    Trevenant          grass       76
539     Sewaddle          grass       70
585     Sawsbuck          grass       70
709    Pumpkaboo          grass       70
271     Ludicolo          grass       70
45         Paras          grass       55
584     Deerling          grass       50
270       Lombre          grass       50
707     Phantump          grass       48
269        Lotad          grass       30

### Melhores Pokémons do tipo Grama da Primeira e Segunda tipagem em relação ao HP

In [77]:
best_hp_pokemons_grama = primary_type_pokemons_grama[primary_type_pokemons_grama['defense'] >= 0]
best_hp_pokemons_grama_sorted = best_hp_pokemons_grama.sort_values(by='hp', ascending=False)
display(best_hp_pokemons_grama_sorted[["english_name", "primary_type", "hp"]])

    english_name primary_type   hp
672       Gogoat        grass  123
590    Amoonguss        grass  114
841     Appletun        grass  110
491      Shaymin        grass  100
811    Rillaboom        grass  100
..           ...          ...  ...
545     Cottonee        grass   40
754     Morelull        grass   40
405        Budew        grass   40
186       Hoppip        grass   35
190      Sunkern        grass   30

[86 rows x 3 columns]

In [78]:
best_hp_pokemons_grama = secondary_type_pokemons_grama[secondary_type_pokemons_grama['hp'] >= 0]
best_hp_pokemons_grama_sorted = best_hp_pokemons_grama.sort_values(by='hp', ascending=False)
display(best_hp_pokemons_grama_sorted[["english_name", "secondary_type", "hp"]])

    english_name secondary_type   hp
892       Zarude          grass  105
897      Calyrex          grass  100
250       Celebi          grass  100
491      Shaymin          grass  100
345      Cradily          grass   86
708    Trevenant          grass   85
271     Ludicolo          grass   80
585     Sawsbuck          grass   80
541     Leavanny          grass   75
780     Dhelmise          grass   70
344       Lileep          grass   66
710    Gourgeist          grass   65
270       Lombre          grass   60
412     Wormadam          grass   60
46      Parasect          grass   60
584     Deerling          grass   60
540     Swadloon          grass   55
709    Pumpkaboo          grass   49
539     Sewaddle          grass   45
707     Phantump          grass   43
269        Lotad          grass   40
45         Paras          grass   35

### Melhores Pokémons do tipo Grama da Primeira e Segunda tipagem em relação a SP_Attack

In [82]:
best_spAttack_pokemons_grama = primary_type_pokemons_grama[primary_type_pokemons_grama['sp_attack'] >= 0]
best_spAttack_pokemons_grama_sorted = best_spAttack_pokemons_grama.sort_values(by='sp_attack', ascending=False)
display(best_spAttack_pokemons_grama_sorted[["english_name", "primary_type", "sp_attack"]])

    english_name primary_type  sp_attack
406     Roserade        grass        125
102    Exeggutor        grass        125
331     Cacturne        grass        115
464    Tangrowth        grass        110
548    Lilligant        grass        110
..           ...          ...        ...
186       Hoppip        grass         35
760    Bounsweet        grass         30
190      Sunkern        grass         30
272       Seedot        grass         30
596    Ferroseed        grass         24

[86 rows x 3 columns]

In [85]:
best_spAttack_pokemons_grama = secondary_type_pokemons_grama[secondary_type_pokemons_grama['sp_attack'] >= 0]
best_spAttack_pokemons_grama_sorted = best_spAttack_pokemons_grama.sort_values(by='sp_attack', ascending=False)
display(best_spAttack_pokemons_grama_sorted[["english_name", "secondary_type", "sp_attack"]])

    english_name secondary_type  sp_attack
250       Celebi          grass        100
491      Shaymin          grass        100
271     Ludicolo          grass         90
780     Dhelmise          grass         86
345      Cradily          grass         81
897      Calyrex          grass         80
412     Wormadam          grass         79
892       Zarude          grass         70
541     Leavanny          grass         70
708    Trevenant          grass         65
344       Lileep          grass         61
270       Lombre          grass         60
46      Parasect          grass         60
585     Sawsbuck          grass         60
710    Gourgeist          grass         58
540     Swadloon          grass         50
707     Phantump          grass         50
45         Paras          grass         45
709    Pumpkaboo          grass         44
584     Deerling          grass         40
539     Sewaddle          grass         40
269        Lotad          grass         40

### Melhores Pokémons do tipo Grama da Primeira e Segunda tipagem em relação a SP_Defense

In [86]:
best_spDefense_pokemons_grama = primary_type_pokemons_grama[primary_type_pokemons_grama['sp_defense'] >= 0]
best_spDefense_pokemons_grama_sorted = best_spDefense_pokemons_grama.sort_values(by='sp_defense', ascending=False)
display(best_spDefense_pokemons_grama_sorted[["english_name", "primary_type", "sp_defense"]])

    english_name primary_type  sp_defense
639     Virizion        grass         129
829     Eldegoss        grass         120
597   Ferrothorn        grass         116
406     Roserade        grass         105
153     Meganium        grass         100
..           ...          ...         ...
752     Fomantis        grass          35
797      Kartana        grass          31
272       Seedot        grass          30
68    Bellsprout        grass          30
190      Sunkern        grass          30

[86 rows x 3 columns]

In [87]:
best_spDefense_pokemons_grama = secondary_type_pokemons_grama[secondary_type_pokemons_grama['sp_defense'] >= 0]
best_spDefense_pokemons_grama_sorted = best_spDefense_pokemons_grama.sort_values(by='sp_defense', ascending=False)
display(best_spDefense_pokemons_grama_sorted[["english_name", "secondary_type", "sp_defense"]])

    english_name secondary_type  sp_defense
345      Cradily          grass         107
412     Wormadam          grass         105
250       Celebi          grass         100
271     Ludicolo          grass         100
491      Shaymin          grass         100
892       Zarude          grass          95
780     Dhelmise          grass          90
344       Lileep          grass          87
708    Trevenant          grass          82
540     Swadloon          grass          80
541     Leavanny          grass          80
897      Calyrex          grass          80
46      Parasect          grass          80
710    Gourgeist          grass          75
585     Sawsbuck          grass          70
270       Lombre          grass          70
707     Phantump          grass          60
539     Sewaddle          grass          60
709    Pumpkaboo          grass          55
45         Paras          grass          55
584     Deerling          grass          50
269        Lotad          grass          50

### Melhores Pokémons do tipo Grama da Primeira e Segunda tipagem em relação a Speed

In [89]:
best_speed_pokemons_grama = primary_type_pokemons_grama[primary_type_pokemons_grama['speed'] >= 0]
best_speed_pokemons_grama_sorted = best_speed_pokemons_grama.sort_values(by='speed', ascending=False)
display(best_speed_pokemons_grama_sorted[["english_name", "primary_type", "speed"]])

    english_name primary_type  speed
253     Sceptile        grass    120
546   Whimsicott        grass    116
496    Serperior        grass    113
188     Jumpluff        grass    110
797      Kartana        grass    109
..           ...          ...    ...
839       Applin        grass     20
754     Morelull        grass     15
589      Foongus        grass     15
828   Gossifleur        grass     10
596    Ferroseed        grass     10

[86 rows x 3 columns]

In [90]:
best_speed_pokemons_grama = secondary_type_pokemons_grama[secondary_type_pokemons_grama['speed'] >= 0]
best_speed_pokemons_grama_sorted = best_speed_pokemons_grama.sort_values(by='speed', ascending=False)
display(best_speed_pokemons_grama_sorted[["english_name", "secondary_type", "speed"]])

    english_name secondary_type  speed
892       Zarude          grass    105
250       Celebi          grass    100
491      Shaymin          grass    100
585     Sawsbuck          grass     95
541     Leavanny          grass     92
710    Gourgeist          grass     84
897      Calyrex          grass     80
584     Deerling          grass     75
271     Ludicolo          grass     70
708    Trevenant          grass     56
709    Pumpkaboo          grass     51
270       Lombre          grass     50
345      Cradily          grass     43
540     Swadloon          grass     42
539     Sewaddle          grass     42
780     Dhelmise          grass     40
707     Phantump          grass     38
412     Wormadam          grass     36
46      Parasect          grass     30
269        Lotad          grass     30
45         Paras          grass     25
344       Lileep          grass     23